.body {
  background-color: var(--gray);
  color: rgb(22, 24, 28);
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  position: relative;
  scrollbar-width: none; /* Firefox */
}

/* BACKGROUND */
.background {
  position: absolute;
  height: 210px;
  width: 100%;
  inset: 0;
  z-index: -2;
  overflow: hidden;
  background-image: linear-gradient(
    125deg,
    var(--primary-color) -10%,
    var(--primary-color-dark) 100%
  );
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.background::before {
  content: "";
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.025) 0,
    rgba(0, 0, 0, 0.075) 99%
  );
  position: absolute;
  inset: 0;
}

.background__pattern {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: -1;
  user-select: none;

  transform: scale(1.1);
}

/* HEADER */
.header {
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  padding: 40px 12px 0 12px;
  margin: 0 auto;
  position: relative;
}

.logo {
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}

/* CONTAINER */

.container {
  width: 1050px;
  height: 520px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
}

.entry {
  flex: 1;
}

.results {
  flex: 1;
  position: relative;
}

.command {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1f6f8;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  column-gap: 12px;
}

.command__button {
  padding: 20px 25px;
  cursor: pointer;
  /* border-left: 1px solid rgba(0, 0, 0, 0.08); */
  transition: all 0.2s;
}

.command__button:hover {
  background: #f1f6f8;
}

.textarea {
  resize: none;
  font: inherit;
  padding: 30px 40px;
  font-size: 22px;
  height: 100%;
  width: 100%;
}

.textarea::placeholder {
  font-weight: 500;
  color: #959c9f;
}

.results {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.results-box {
  padding: 30px 40px;
  width: 100%;
}

.footer {
  width: 1050px;
  margin: 15px auto;
  opacity: 0.4;
  display: flex;
  justify-content: space-between;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0 4px;
  line-height: 1.5;
  background-color: #eee;
  border-radius: 3px;
  margin: 0 4px 4px 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
select:focus,
select:hover,
select:active {
  background-color: #7bd6cf;
}
